@{
    ViewData["Title"] = "Filling";
}
<div class="text-center">
    <h2 class="display-4">Пополнение склада</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Склад:</div>
        <div class="col-8">
            <select id="warehouseId" name="warehouseId" class="form-control" asp-items="@(new SelectList(@ViewBag.Warehouse,"Id", "WarehouseName"))">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Компонент:</div>
        <div class="col-8">
            <select id="componentId" name="componentId" class="form-control" asp-items="@(new SelectList(@ViewBag.Component,"Id", "ComponentName"))">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Количество:</div>
        <div class="col-8"><input type="text" name="count" id="count" /></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <input type="submit" value="Пополнить" class="btn btn-primary" />
        </div>
    </div>
</form>
