@{
    ViewData["Title"] = "Update";
}
<div class="text-center">
    <h2 class="display-4">Изменение склада</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Название:</div>
        <div class="col-8"><input type="text" name="name" id="name" value="@ViewBag.Name" /></div>
    </div>
    <div class="row">
        <div class="col-4">Ответственный:</div>
        <div class="col-8"><input type="text" name="responsible" id="responsible" value="@ViewBag.Responsible" /></div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Компонент
                </th>
                <th>
                    Количество
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Components)
            {
                <tr>
                    <td>
                        @item.Item1
                    </td>
                    <td>
                        @item.Item2
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <input type="submit" value="Изменить" class="btn btn-primary" />
        </div>
    </div>
</form>
